* {
  font-family: "Space Mono", monospace;
}

body {
  min-height: 100vh;
  background: linear-gradient(#e76f51, #2a9d8f);
  display: flex;
  align-items: center;
  justify-content: center;
}

.commentFormContainer {
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 20px;
}

h2 {
  font-size: 30px;
  text-align: center;
}

.comment {
  width: 90%;
  height: 150px;
}

input:focus-visible,
textarea:focus-visible {
  outline-offset: 3px;
  outline-color: rgb(0, 217, 255);
}

textarea {
  border-radius: 5px;
  border: 1px solid black;
}

input {
  border: 1px solid black;
  border-radius: 5px;
  height: 30px;
}
